/* You can add custom styles here. */

// @import "plugins/numbered";
thead{
    background-color:#5b7373;
    color: white;
}

a.book-btn:hover{
    opacity: .7;
}

.markdown h2, .markdown h1{
    font-weight: 700;
}

.markdown table tr th, .markdown table tr td {
    padding: .25rem 1rem;
}