/* You can add custom styles here. */

// @import "plugins/numbered";
thead{
    background-color:#5b7373;
    color: white;
}

a.book-btn:hover{
    opacity: .7;
}

.markdown h2, .markdown h1 , .markdown h3{
    font-weight: 700;
}

.markdown h2{
    border-bottom: 3px solid lightgrey;
}

.markdown h1{
    text-align: center;
    font-size: 2.5rem;
}

.markdown table tr th, .markdown table tr td {
    padding: .25rem 1rem;
}

.btn-nav{
    display: inline-block;
    font-size: 1.25rem;
    width: 49%;
    color: var(--color-link);
    color: black;
    line-height: $padding-16 * 2;
    padding: 0 $padding-16;
    border: $padding-1 solid var(--color-link);
    border-radius: $border-radius * 5 ;
    cursor: pointer;

    &:hover {
        color: white ;
        text-decoration: none !important;
        background-color: var(--color-link);
        opacity: 100%;
    }
}

.issue{
    width: fit-content;
    font-size: inherit;
    border-radius: inherit;
}



#TableOfContents{
    padding: 5px 0px 5px 5px;
    border-left: 1px solid var(--border-color);

    a{
        color:black;
    }
    
    a:hover { 
        opacity: 100%;
        text-decoration: underline;
        color: var(--color-link);
    }
}

.markdown a.book-btn{
    color: black;
    &:hover{
        color: white;
        text-decoration: none !important;
        background-color: var(--color-link);
        opacity: 100%;
    }
}


.btn-external{
    display: inline-block;
    font-size: $font-size-14;
    color: var(--color-link);
    line-height: 1.5rem;
    padding: 0 .5rem;
    border: $padding-1 solid var(--color-link);
    border-radius: $border-radius;
    cursor: pointer;

    &:hover{
        color: white;
        text-decoration: none !important;
        background-color: var(--color-link);
        opacity: 100%;
    }
}


aside nav ul li {
    margin: 0.5em 0;
    a:hover { 
        opacity: 100%;
        text-decoration: underline;
        color: var(--color-link);
    }
}


.github_text{
    margin-top:15px;
    margin-bottom:5px;
    font-style: italic;
    font-size: $font-size-14;
}

.markdown .book-hint {
    border-left: 10px solid;

}

.markdown .book-hint.info {
    background-color: rgba(102,187,255,.25);
}

.markdown .book-hint.warning {
    background-color: rgba(255,221,102,.25);
}

markdown .book-hint.danger {
    background-color: rgba(255,102,102,.25);
}

.markdown pre {
    padding: .5rem;
    border: 1px solid lightgray;
    font-size: .85em;
}

.book-brand{
    text-align: center;
}
.book-brand:hover{
    color:var(--color-link);
}

.below{
    position: absolute;
	bottom: 5rem;
}

.chapter_btns{
    display: grid;
    grid-template-columns: 48% auto 48%;
    grid-template-areas:
    "prevChap . nxtChap";
}

.prev{
    text-align: left;
    grid-area: prevChap;
    width: 100%;
    border-width: 3px;
}
.next{
    text-align: right;
    width: 100%;
    grid-area: nxtChap;
    float: right;
    border-width: 3px;
}

.book-page{
    background: white;
}

.menu-before{
    border-bottom: 1px solid var(--border-color);
    padding-bottom:20px;
}

.menu-after{
    border-top: 1px solid var(--border-color);
    padding-top:20px;
}

.book-page{
    padding-top: 1rem;
    padding-bottom: 0px;
}